<!DOCTYPE html>
<html lang="es">
<head>
	<title>Preguntas</title>
	<meta charset="utf-8">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/wide.css" media="only screen and (min-width: 530px) and (min-device-width: 481px)">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smartphone.css" media="only screen and (max-width: 480px)">
</head>
<body>
	<div id="page-wrap">
		<header id="h1" class="main">
		
			<% if (!session.user) { %>
				<span class="right"><a href="/login">Login</a></span>
			<% }else{ %>
				<span class="right"><%= session.user.username %> <a href="/logout">Logout</a></span>
			<% } %>

			<h2>Quiz<span>: el juego de las preguntas</span></h2>
		</header>
		<nav class="main" id="n1" role="navigation">
			<span><a href="/">Inicio</a></span>
			<span><a href="/quizes">Preguntas</a></span>
			<!-- <span><a href="/author">Créditos</a></span> -->
		</nav>
		<section class="main" id="s1">
			<% if (errors.length) { %>
				<span id="ErrorMsgs">
					Corregir errores: <br>
					<% for( var i in errors) { %>
						<span> <%= errors[i].message %> </span> <br>
					<% } %>
				</span>
			<% } %>
			<div><%- body %></div>
		</section>
		<footer class="main" id="f1">
			<a href="http://es.wikipedia.org/wiki/Quiz">Qué es un quiz?</a>
			<a href="https://github.com/jrvldam/quiz.git">Repositorio GitHub</a>
		</footer>
	</div>
</body>
</html>