	<label for="preg" class="rem">Pregunta: </label>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"> <br>
	<label for="resp" class="rem">Respusta: </label>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"> <br>
	<label for="tema" class="rem">Tema:</label>
	<imput type="text" id="tema" name="quiz[tema]" value="<%= quiz.tema %>">
	<select id="tema" name="quiz[tema]">
		  <option value="otro" <%if (quiz.tema === "otro"){%> selected <%}%>>Otro</option>
		  <option value="humanidades" <%if (quiz.tema==="humanidades"){%> selected <%}%>>Humanidades</option>
		  <option value="ocio" <%if (quiz.tema==="ocio"){%> selected <%}%>>Ocio</option>
		  <option value="ciencia" <%if (quiz.tema==="ciencia"){%> selected <%}%>>Ciencia</option>
		  <option value="tecnologia" <%if (quiz.tema==="tecnologia"){%> selected <%}%>>Tecnología</option>
	</select> <br>
	<a href="/quizes"><button type="button">Cancelar</button></a>
	<input type="submit" value="Salvar">
