	<table>
		<% for (var i = 0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %><span> (<% if (quizes[i].tema) { %><%= quizes[i].tema %><% } %>)</span></a></td>
			<%  if (session.user) { %>
				<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
				<td>
					<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
						<button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
							borrar
						</button>
					</form>
				</td>
			<% } %>
		</tr>
		<% } %>
	</table>
	<!-- <form method="get" action="/quizes">
		<input type="text" name="search" placeholder="buscar por">
		<input type="submit" value="Buscar">
	</form> -->
	<% if (session.user) { %>
		<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
	<% } %>
