	<form method="get" action="/quizes/<%= quiz.id %>/answer">
		<p>Pregunta: <%= quiz.pregunta %></p>
		<input type="text" name="respuesta" placeholder="Respuesta">
		<input type="submit" value="Enviar">
	</form>

	<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

	<p><strong>Comentarios: </strong></p>
	<% for(var index in quiz.Comments) { %>
		<% if (quiz.Comments[index].publicado || session.user) { %>
			<p>- <%= quiz.Comments[index].texto %></p>
			<% if (session.user && !quiz.Comments[index].publicado) { %>
				<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
					<button>Publicar</button>
				</a>
			<% } %>
		<% } %>
	<% } %>