	<h2>Login</h2>

	<form method="POST" action="/login">
		<div class="field">
			<label for="login">Login: </label> <br>
			<input type="text" id="login" name="login" size="20">
		</div>
		<div class="field">
			<label for="password">Password: </label>
			<input type="password" id="password" name="password" size="20">
		</div>
		<div class="actions">
			<input type="submit" name="commit" value="Login">
		</div>
	</form>